* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  z-index: -1;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.log-box {
  width: 480px;
  padding: 40px;
  border-radius: 0.625rem;
  position: relative;
  line-height: 80px;
  backdrop-filter: blur(90px);
  box-shadow: 0 0 30px rgba(206, 122, 245, 0.37);
  border: 2px solid rgba(161, 88, 255, 0.521);
}

.entry-box {
  position: relative;
  height: 70px;
  line-height: 70px;
  margin-bottom: 35px;
}
input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 2.2rem;
  padding: 0 30px;
  line-height: 68px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.lableline {
  position: absolute;
  font-size: 1.6rem;
  color: fff;
  padding: 0 25px;
  margin: 0 20px;
  color: #e6e6e6;
  background-color: transparent;
  transition: 0.2s ease;
}
input:focus,
input:valid {
  color: rgb(212, 138, 255);
  border: 4px solid rgb(212, 138, 255);
}

input:focus + .lableline,
input:valid + .lableline {
  color: rgb(212, 138, 255);
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-10px, -28px) scale(0.88);
  z-index: 1111;
}

button {
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  color: #fff;
  background-color: #da46ff4b;
  border-style: none;
  border-radius: 0.625rem;
  padding: 12px 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(235, 137, 255, 0.37);
  border: 2px solid rgba(207, 134, 255, 0.425);
}

button:hover {
  background-color: #d73ffd83;
  transform: scale(1.05);
}
